.App {
  text-align: center;
}

.app-header {
  padding: 20px;
  background: rgba(26, 22, 37, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #3a334a;
  margin-bottom: 40px;
}

.app-header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(90deg, #A485F8, #7F56D9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}